body {
  background: linear-gradient(
      223.53deg,
      #a5feca 3.65%,
      #3edceb 31.56%,
      #2594ff 65.16%,
      #5533ff 102.22%
    )
    no-repeat 100%;
  font-size: 62.5%;
}

.warper {
  height: 100vh;
  display: flex;
  align-items: center;
}
