.musicPlayer {
  max-width: 375px;
  width: 100%;
  max-height: 812px;
  height: 100%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 5px 20px #2b6b9f;
  overflow: hidden;
  position: relative;

  .header {
    @include font("Bold", 2.5rem, 133%);
    text-align: center;
    margin-top: 37px;
  }

  .content-music {
    margin-top: 40px;

    .content-music__img {
      margin: 0 auto 63px;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      overflow: hidden;
      animation: spin360 7s infinite linear;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @keyframes spin360 {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }

    .content-music__name {
      text-align: center;
      margin: 0px 25px;
      overflow: hidden;

      .name-song {
        width: max-content;
        @include flex(row, center, center);
        @include font("Bold", 2.3rem, 3.1rem);
        animation: textMove 5s linear infinite forwards;
      }

      .name-author {
        // width: fit-content;
        @include font("Regular", 1.3rem, 2.3rem);
        color: #828282;
        @include flex(row, center, center);
        animation: textMoveRight 2s linear infinite forwards;
      }

      @keyframes textMove {
        // 0% {
        //   transform: translateX(-100%);
        // }
        // 50% {
        //   transform: translateX(0);
        // }
        // 100% {
        //   transform: translateX(100%);
        // }
        0% {
          transform: translateX(50px);
        }
        50% {
          transform: translateX(-50px);
        }
        75% {
          transform: translateX(0px);
        }
        100% {
          transform: translateX(50px);
        }
      }

      // @keyframes textMoveRight {
      //   0%{
      //     transform: translateX(50px);
      //   }
      //   50%{
      //     transform: translateX(-50px);
      //   }
      //   75%{
      //     transform: translateX(0px);
      //   }
      //   100%{
      //     transform: translateX(50px);
      //   }
      // }
    }
  }
}

.play-list {
  $heightList: 300px;
  position: absolute;
  bottom: -$heightList;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.71);
  box-shadow: 0px -19px 47px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(21px);
  border-radius: 26px 26px 0px 0px;
  transition: all 0.5s linear;

  .heading {
    padding: 20px 22px;
    @include flex(row, center, space-between);
    @include font("Bold", 1.7rem, 2.5rem);

    &-left {
      @include flex(row, center, space-between);
      p {
        margin-left: 10px;
      }
    }

    .btn-arrow {
      height: 43px;
      width: 43px;
      border-radius: 50%;
      @include flex(row, center, center);
      filter: drop-shadow(0px 1px 47px rgba(0, 0, 0, 0.05));
      background: #ffffff;
      border: 1px solid #f2f2f2;
      cursor: pointer;
    }

    .close-list {
      display: none;
    }
  }

  .list-music {
    height: $heightList;
    overflow: scroll;

    .song {
      padding: 0px 22px 20px;
      @include flex(row, center);
      cursor: pointer;

      &__thumb {
        width: 50px;
        height: 50px;
        background-position: center;
        background-size: contain;
        border-radius: 50%;
      }

      &__body {
        margin-left: 20px;
      }

      &__title {
        @include font("SemiBold", 1rem, 1.6rem);
      }

      &__author {
        @include font("Regular", 0.8rem, 1.6rem);
        color: #828282;
      }
    }
  }
}

.music-nav {
  @include flex(column, center);

  .progress {
    width: 309px;
    margin: 0px auto;
    cursor: pointer;
  }

  .music-control {
    width: 100%;
    margin-top: 30px;
    padding: 0px 33px;
    display: flex;
    @include flex(row, center, space-between);

    &__time {
      @include font("Medium", 1.2rem, 1.6rem);
      color: #9570ff;
    }

    &__play {
      width: 61px;
      height: 61px;
      border-radius: 50%;
      cursor: pointer;
      background: linear-gradient(
          223.53deg,
          #70c8ff 31.56%,
          rgba(149, 112, 255, 0.25) 65.16%
        )
        no-repeat 100%;
      backdrop-filter: blur(19.6px);
      box-shadow: 0px 4px 34px rgba(33, 33, 33, 0.08);
      @include flex(row, center, center);

      .playUI {
        display: block;
        font-size: 2rem;
      }

      .pauseUI {
        display: none;
        font-size: 2rem;
      }
    }
    .music-control__play.playing {
      .playUI {
        display: none;
      }

      .pauseUI {
        display: block;
      }
    }

    &__skip-next,
    &__skip-prev {
      cursor: pointer;
    }

    &__time-end {
      @include font("Medium", 1.2rem, 1.6rem);
      color: #bdbdbd;
    }
  }
}
